html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.contents {
  width: 100vw;
  height: 100vh;
}

.hooks-parent {
  width: 100vw;
  height: 40rem;
  position: relative;
  border: 1px solid;
  background-color: black;
}

.hooks-child {
  width: 15rem;
  height: auto;
}


.component-parent {
  width: 100vw;
  height: 20rem;
  position: relative;
  border: 1px solid;
}
